.primary-button, .secondary-button
  cursor: pointer
  width: rem-calc(160px)
  height: rem-calc(44px)
  margin: 0 !important
  padding: 0 !important
  border-radius: 1px !important
  border: solid 1px #000000 !important
  font-size: 1rem !important
  outline: none !important
  font-family: Roboto !important
  font-weight: bold !important

.primary-button
  color: #ffffff !important
  background-color: #000000 !important
  &:hover
    background-color: #333333 !important

.secondary-button
  color: #000000 !important
  background-color: #ffffff !important
  &:hover
    color: #333333 !important
    border: solid 1px #333333 !important