.Rectangle-9
  // width: 50%
  height: fit-content
  margin: 30px auto 0 !important
  //min-width: 320px
  min-height: fit-content
  min-width: fit-content
  // padding: 0 5em 5em
  border-radius: 20px
  background-color: #ffffff
  margin: auto
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 102
  overflow: hidden
  // width: 90%
  min-width: auto
  padding-top: 2.5rem
  // height: 100vh
  // width: 100vw
  border-radius: 5px
  height: fit-content
  overflow-y: auto  !important
  // border-radius: unset
  top: 0 !important
  position: fixed !important
  width: fit-content
  // Start Overlay During Popup
.coverAll-Dark
  visibility: visible
  opacity: 0.7
  background-color: #000000
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 101
  height: 100%
  cursor: url('../assets/closeModalIcon.svg'), auto

.coverAll-White
  opacity: 0.8
  background-color: #ffffff
  position: absolute
  top: 56px
  left: 0
  width: 100%
  z-index: 101
  height: 100%

.close
  position: absolute
  right: 32px
  top: 32px
  width: 32px
  height: 32px
  opacity: 0.3
  cursor: pointer
  display: none

.close:hover
  opacity: 1

.close:before, .close:after
  position: absolute
  left: 15px
  content: ' '
  height: 33px
  width: 2px
  background-color: #333

.close:before
  transform: rotate(45deg)

.close:after
  transform: rotate(-45deg)

  
.create-page-modal-buttons
  display: flex
  justify-content: space-between
  width: 100%
  margin: .5rem auto
  button
    width: 48.5% !important

.transfer-modal-container
  width: 25.75rem
  margin: 0 auto !important
  .transfer-modal-memo
    margin: 0 auto !important