.editor-wrap
  width: 48%
  .editor-container
    border: 1px solid black
    // display: flex
    justify-content: center
    padding: 5px 10px
    height: fit-content
    max-height: 90vh
    overflow: scroll
    .codeblock-editor
      display: flex
      flex-direction: column
      width: 100%
      .codeblock-editor-tab
        padding: 5px 10px
        background: #EEE
        margin: 5px 0
        label
          display: flex
          flex-direction: column
          margin: 5px auto
          select
            margin: 5px 0 10px
          textarea
            margin-top: 5px
            resize: vertical
      .codeblock-add-tab
        padding: 7px 0 5px
        margin: 5px auto
        background: #EEE
        width: 100%
        text-align: center
        cursor: pointer
      .codeblock-remove-tab
        float: right
        cursor: pointer

  .md-editor
    width: 100%
    padding: 5px 0

  .save-changes
    height: 5vh
    display: flex
    padding: 5px 0 0 0
    button
      border: none
      background: #00d98e
      color: white
      font-weight: bold
      font-family: Roboto, sans-serif
      border-radius: 5px
      text-align: center
      width: 100%
      min-height: 40px
      padding: 10px
      font-size: 1rem

