.sidebar
  position: fixed
  display: flex
  z-index: 10
  top: 0px
  flex-direction: column
  padding-top: 20px
  bottom: 0px
  left: 0px
  width: 19rem
  overflow-x: hidden
  flex: 1 1 0%
  background-color: #2B2E36 // #4a5261
  font-family: Roboto
  font-size: 16px
  font-weight: 600
  line-height: 1.69 !important
  color: #333333
  // border: solid 0.5px #0e1111
  // border-width: 0px 0.5px 0.5px 0px
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1)
  .accordion
    padding: 20px 0 30px 5px
  .title
    color: white
    font-size: .8rem
    letter-spacing: 1px
    font-weight: bold
    text-transform: uppercase
  .add-new-button
    font-size: .8rem
    letter-spacing: 1px
    font-weight: bold
    text-transform: uppercase
  .header-container
    display: flex
    align-items: baseline
  div
    // margin: 12px 0 12px 34px
    p 
      // display: inline-block
      line-height: 1.69 !important
    
    div
      margin-left: 23px
      font-family: Roboto
      font-size: 16px
      font-weight: normal
      line-height: 1.69 !important
      &:active 
          color: #18C6DB
      span
        color: white
        cursor: pointer


.activeSubItem
  color: #18C6DB !important
  font-weight: 600
