.sidebar
  position: fixed
  display: flex
  top: 0px
  flex-direction: column
  bottom: 0px
  left: 0px
  width: 14rem
  overflow-x: hidden
  flex: 1 1 0%
  background-color: #eeeeee
  height: fit-content
  font-family: Khula
  font-size: 16px
  font-weight: 600
  line-height: 1.69 !important
  color: #333333
  padding: 1.75rem 0
  border: solid 0.5px #0e1111
  border-width: 0px 0.5px 0.5px 0px
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1)

  .header-container
    display: flex
    align-items: baseline
  div
    // margin: 12px 0 12px 34px
    p 
      // display: inline-block
      line-height: 1.69 !important
    
    div
      margin-left: 23px
      font-family: Khula
      font-size: 16px
      font-weight: normal
      line-height: 1.69 !important
      &:active 
          color: #049cb0
      span
        color: #1a1a1a
        cursor: pointer


.activeSubItem
  color: #049cb0 !important
  font-weight: 600
