.sidebar
  // display: none // comment out when pushing, this is just so i can see the main content better
  width: rem-calc(315px)
  background-color: #eeeeee
  height: fit-content
  float: left
  font-family: Khula
  font-size: 16px
  font-weight: 600
  line-height: 1.69 !important
  color: #333333
  padding: rem-calc(28px) 0
  border: solid 0.5px #0e1111
  border-width: 0px 0.5px 0.5px 0px
  .header-container
    display: flex
    align-items: baseline
  div
    // margin: 12px 0 12px 34px
    p 
      // display: inline-block
      line-height: 1.69 !important
    
    div
      margin-left: 23px
      font-family: Khula
      font-size: 16px
      font-weight: normal
      line-height: 1.69 !important
      &:active 
          color: #049cb0
      span
        color: #1a1a1a
        cursor: pointer


.activeSubItem
  color: #049cb0 !important
  font-weight: 600
